.header{
    width: 100%;
    height:130px;
    background: rgb(0,0,0);
    position: fixed;
   

}

.outset {border:10px outset rgb(145, 140, 145);}
.search_input {
    padding: 2px;
    width: 100%;
    height:20px;
    border: outset;
    
}

.serach_submit {
    position: absolute;
    margin-left: 14px;
    cursor: pointer;
    
}
.search_icon{
    width: 35px;
    height:30px;
    position: absolute;
    margin-left: 14px;
    cursor: pointer;
}